<div>
    <h2>Registrarse</h2>
    
    <p *ngIf="error" class="error">{{ error }}</p>
  
    <form (ngSubmit)="handleSubmit()">
      <input
        type="text"
        placeholder="Nombre"
        [(ngModel)]="formData.firstName"
        name="firstName"
        required
      />
      <input
        type="text"
        placeholder="Apellido"
        [(ngModel)]="formData.lastName"
        name="lastName"
        required
      />
      <input
        type="email"
        placeholder="Email"
        [(ngModel)]="formData.email"
        name="email"
        required
      />
      <input
        type="password"
        placeholder="Contraseña"
        [(ngModel)]="formData.password"
        name="password"
        required
      />
      <input
        type="tel"
        placeholder="Número de teléfono"
        [(ngModel)]="formData.phoneNumber"
        name="phoneNumber"
        required
      />
  
      <button type="submit">Registrarse</button>
    </form>
    <p>¿Ya tienes una cuenta? <a routerLink="/login">Iniciar sesión</a></p>
  </div>
  