<div class="container">
    <!-- Error Message -->
    <div *ngIf="error" class="error">
      <p>{{ error }}</p>
    </div>
  
    <h2>Buscar reserva</h2>
  
    <!-- Search Section -->
    <div>
      <input
        type="text"
        placeholder="Introduzca su código de confirmación de reserva"
        [(ngModel)]="confirmationCode"
        required
      />
      <button (click)="handleSearch()">Find</button>
    </div>
  
    <!-- Booking Details -->
    <div *ngIf="bookingDetails" class="details">
      <h3>Detalles de la reserva</h3>
      <p><strong>Código de reserva:</strong> {{ bookingDetails.bookingReference }}</p>
      <p><strong>Fecha de entrada:</strong> {{ bookingDetails.checkInDate }}</p>
      <p><strong>Fecha de salida:</strong> {{ bookingDetails.checkOutDate }}</p>
      <p><strong>Estado de pago:</strong> {{ bookingDetails.paymentStatus }}</p>
      <p><strong>Total:</strong> {{ bookingDetails.totalPrice }}</p>
      <p><strong>Estado de la reserva:</strong> {{ bookingDetails.bookingStatus }}</p>
  
      <hr />
      <h3>Detalles del reservador</h3>
      <div>
        <p><strong>Nombre:</strong> {{ bookingDetails.user.firstName }}</p>
        <p><strong>Apellido:</strong> {{ bookingDetails.user.lastName }}</p>
        <p><strong>Email:</strong> {{ bookingDetails.user.email }}</p>
        <p>
          <strong>Número de teléfono:</strong> {{ bookingDetails.user.phoneNumber }}
        </p>
      </div>
  
      <hr />
      <h3>Detalles de la habitación</h3>
      <div>
        <p><strong>Número de habitación:</strong> {{ bookingDetails.room.roomNumber }}</p>
        <p><strong>Tipo de habitación:</strong> {{ bookingDetails.room.type }}</p>
        <p><strong>Capacidad de la habitación:</strong> {{ bookingDetails.room.capacity }}</p>
        <img [src]="bookingDetails.room.imageUrl" alt="Room Image" />
      </div>
    </div>
  </div>
  